{% extends 'base.html.twig' %}
{% block title %}Edit{% endblock %}
{% block stylesheets %}
    .fa {
        font-size: 21px;
    }

    .fa-paper-plane {
        font-size: 14.5px;
    }

    .fa-check {
        color: #fff;
        left: 17px;
        top: 18px;
        font-size: 7px;
        position: absolute;
    }
{% endblock %}
{% block body %}
    <form action="/user/edit/{{ user.id }}" method="post">
		<h2>Edit</h2>
		<p>Please fill in this form to edit an account!</p>
		<hr>
        <div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<span class="fa fa-user"></span>
					</span>                    
				</div>
				<input type="text" class="form-control" name="username" placeholder="Username" required value="{{ user.username }}">
			</div>
        </div>
        <div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-paper-plane"></i>
					</span>                    
				</div>
				<input type="email" class="form-control" name="email" placeholder="Email Address" required value="{{ user.email }}">
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-lock"></i>
					</span>                    
				</div>
				<input type="password" class="form-control" name="password" placeholder="Password" required>
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="fa fa-lock"></i>
						<i class="fa fa-check"></i>
					</span>                    
				</div>
				<input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required>
			</div>
        </div>
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Confirm</button>
            <a href="/profile" class="btn btn-default btn-lg">Cancel</a>
        </div>
    </form>
    {% if error is defined %}
        <span class="alert alert-danger">{{ error }}</span>
    {% endif %}
{% endblock %}