{% extends 'base.html.twig' %}
{% block title %}Login{% endblock %}
{% block stylesheets %}
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
{% endblock %}
{% block body %}
    <form method="post" action="/signin" class="form-signin" onsubmit="remember()">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label><input type="checkbox" value="remember-me" id="remember-me"> Remember me</label>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
            </div>
            <div class="col-md-6">
                <a class="btn btn-lg btn-default btn-block" href="/signup">Sign up</a>
            </div>
        </div>
    </form>
    {% if success is defined %}
        <span id="success-alert" class="alert alert-success mt-4">{{ success }}</span>
    {% endif %}
    {% if error is defined %}
        <span class="alert alert-danger mt-4">{{ error }}</span>
    {% endif %}
{% endblock %}